@model IEnumerable<Folder>


<main class="main">
    <div class="accordion">
        @foreach (var obj in Model)
        {
            <div class="accordion-item">
                <button type="button" class="btn-arrows">
                    <img class="arrow-open" src="/img/levels.png" style="width: 7px" />
                    <img class="arrow-close hidden" src="/img/levels-open.png" style="width: 7px" />
                </button>
                <button type="button" class="accordion-folder">
                    <img class="img-folder img-folder__closed hidden" src="/img/closed-folder.svg" style="width: 15px" />
                    <img class="img-folder img-folder__opened" src="/img/opened-folder.svg" style="width: 15px" />
                    <h2 class="accordion-header">@obj.Name</h2>
                </button>
            </div>
        }
    </div>
</main>

<div class="line-vertical"></div>

<article class="output">
    <div class="display-files">
        <h3 class="file-name active">MainWindow.cs</h3>
        <h3 class="file-name">MainWindow.xaml</h3>
    </div>
    <div class="line-horizontal"></div>
</article>



