@model Folder

@{
    ViewData["Title"] = "Переименовать";
}

<div class="overlay">
    <form method="post" asp-action="RenameAction" class="send_form">
        <div asp-validation-summary="All" class="object">
            <div class="label">
            <label class="label_name"></label>
                <input asp-for="Name" type="text" class="input_name" placeholder="Name" required>
                <span asp-validation-for="Name" class="visually-hidden">Поле для ввода названия папки</span>
            </div>
            <div class="button">
                <button  type="submit" class="btn btn-send">
                    Переименовать
                    <span class="visually-hidden">Переименовать</span>
                </button>
            </div>
        </div> <a asp-controller="Document" asp-action="Index" class="btn btn-close">X</a>
    </form>
</div>
